@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
   <h1 class="display-4">Home Page</h1>
   </div>
<div class="callout callout-info">
 
    <p>
        This is the default page displayed when the application loads.
    </p>
    <p>Today is <b>@DateTime.Now.ToLongDateString()</b></p>
</div>
<div class="text-center">
    <p> @ViewBag.Message</p>
    <p> @ViewBag.LongTime</p>

</div>
