html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid lightgray;
    border-left-color: silver;
    border-left-width: .50rem;
    border-radius: .25rem;
}

.callout-info {
    border-left-color: deepskyblue;
}